@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --primary-color: #409EFF;

    --danger-color: #ef4444;
    --danger-color-hover: #dc2626;

    --success-color: #22C55E;

    --font-poppins: 'Poppins', sans-serif;
    --font-baloo: 'Baloo Paaji 2', sans-serif;

    --cards-dark: #18181b; 
    --body-dark: #0a0a0a;

    --text-title: #111827;

    --p-primary-50:  #f0f9ff;
    --p-primary-100: #e0f2fe;
    --p-primary-200: #bae6fd;
    --p-primary-300: #7dd3fc;
    --p-primary-400: #38bdf8;
    --p-primary-500: #409EFF;
    --p-primary-600: #0284c7;
    --p-primary-700: #0369a1;
    --p-primary-800: #075985;
    --p-primary-900: #0c4a6e;
    --p-primary-950: #082f49;

    --p-card-color: #334155;

    --breadcrumb-color: #64748b;
    --breadcrumb-color-hover: #4c5869;
}


body {
    font-family: var(--font-poppins);
    -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

html, body, #app {
    height: 100%;
}

html.dark-mode {
    --p-card-color: #ffffff;
    background-color: var(--body-dark);
    transition: background-color 0.3s, color 0.3s;
}

.bg-white {
    background-color: #fff;
}

html.dark-mode .bg-white {
    background-color: var(--cards-dark) !important;
}

.p-toast-message-text {
    margin-top: -3px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary:empty {
  display: none;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary:empty + .p-toast-detail,
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail:first-child {
  margin-top: 2px !important;
}

.p-dialog-mask {
    padding: 0 0.7rem;
}

.custom-Breadcrumb {
    background-color: #f3f4f6;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 12px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}