* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

.btn-primary {
    --bs-btn-color: #fff;
}

.btn-primary:hover, .btn-outline-primary:hover {
    color: #fff;
}

.outline_none {
    text-decoration: none;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.fs-9 {
    font-size: 0.7rem;
}

.fs-10 {
    font-size: 0.6rem;
}

.invalid_field {
    border: 1px solid #F89898;
}

.item_center {
    display: flex;
    justify-content: center;
    align-items: center;
}